$color-primary-light: #AAFFA9;
$color-primary-dark: #11FFBD;


$color-secondary-dark: #12D8FA;
$color-secondary-light: #A6FFCB;

$color-yellow: #ffffe3;
$color-yellow-dark: #ffff4b;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;